<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}idiotic{% endblock %}</title>
    <!-- Google Fonts for Icons -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize Stylesheet -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"
      type="text/css">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ root }}main.js"></script>
  </head>
  <body>
    <header>
      <nav class="top-nav pink lighten-1">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">{{ title }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% if url != base %}<li><a href="../">Up</a></li>{% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <div class="container">
      <div id="page-top" class="row">
        <div class="col s12 m9 l10">
          {% block controls %}
          {% endblock %}
        </div>
        <div class="col hide-on-small-only m3 l2">
          <div id="toc">
            {% block toc %}
            {% endblock %}
          </div>
        </div>
    </div>
    </main>
    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </body>
</html>
